.wrapper {
    margin:0 auto;
    padding:0;
}
#topBar {
    background-color:chocolate;
}
#menu-button {
   position: fixed;
	padding: 5px 10px;
	background-color: #FFF;
	border-radius: 5px;
	top: 15px;
	left: 15px;
	z-index: 999;
	transition: 0.3s ease;
}
#menu-button.menu-collapse {
    background-color:black;
    border:3px solid #fff;
    color:#fff;
}
.hidden {
    background-color:orangered;
    width:0;
}
#menu {
 	position: fixed;
	z-index: 998;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	transform-origin: left;
	transition: 0.5s ease;
}
#menu ul {
    list-style-type: none;
    padding:0;
    margin-top:200px;
    margin-left:200px;
}
#menu ul li {
    font-size:34px;
    
}
.menu-collapse {
    display:none;
    width:0;
}

.middle {
    text-align: center;
}

.leftSection {
    width:45%;
    margin:150px 50px;
    float:left;
}
.rightSection {
    margin:0px;
    width:45%;
    float:left;
    
}
#top-rightSide {
    margin-left:200px;
}
.rightSection ul {
    position: relative;
    top:100px;
    margin:25px;
    display:block;
    max-width:400px;
}
.rightSection ul li {
    background:#ddd;
    padding:25px  5px;
}
 .rightSection ul li:first-child {
    background:chocolate;
}
.rightSection ul a {
    text-decoration: none;
}
