.wrapper {
    margin:0 auto;
    padding:0;
}
#topBar {
    background-color:chocolate;
}
#menu-button {
    position: fixed;
    padding: 5px 10px;
	background-color: #FFF;
	border-radius: 5px;
	top: 15px;
	left: 15px;
	z-index: 10;
	transition: 0.3s ease;
}
#menu-button.menu-open {
    background-color:black;
    border:3px solid #fff;
    color:#fff;
    
}
.hidden {
    display:none;
}
#menu {
 	position: fixed;
	z-index: 9;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
    background-color:brown;
	transform-origin: right;
	transition: 0.5s ease;
}
#menu ul {
    list-style-type: none;
    padding:0;
    text-align: center;
    margin-top:200px;
   
}
#menu ul li {
    font-size:34px;
    
}
#menu.menu-collapse {
    width:0;
}

.middle {
    text-align: center;
}

.leftSection {
    max-width:45%;
    margin:150px 50px;
    float:left;
}
.rightSection {
    margin:0px;
    width:45%;
    float:left;
    
}
#top-rightSide {
    margin-left:200px;
}
.rightSection ul {
    position: relative;
    top:100px;
    margin:25px;
    display:block;
    max-width:400px;
    list-style:none;
}
.rightSection ul li {
    background-color:burlywood;
    padding:25px  5px;
    border-bottom:1px solid #000;
}
 .rightSection ul #topList {
    background:chocolate;
}
.rightSection ul a {
    text-decoration: none;
    color:#000;
}
li:hover {
    cursor:pointer;
    color:azure;
}
